@charset "UTF-8";

#box-image {
    width: 500px;
    height: 500px;
    border: 2px solid #222222;
    margin: 5px;
}

#box-preview {
    width: 100px;
    height: 100px;
    border: 2px solid #222222;
    margin: 5px;
}